@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-gray-50: var(--color-neutral-50);
	--color-gray-100: var(--color-neutral-100);
	--color-gray-200: var(--color-neutral-200);
	--color-gray-300: var(--color-neutral-300);
	--color-gray-400: var(--color-neutral-400);
	--color-gray-500: var(--color-neutral-500);
	--color-gray-600: var(--color-neutral-600);
	--color-gray-700: var(--color-neutral-700);
	--color-gray-800: var(--color-neutral-800);
	--color-gray-900: var(--color-neutral-900);
	--color-gray-950: var(--color-neutral-950);

	--color-primary: rgb(var(--primary) / var(--tw-text-opacity));

	--color-primary-50: rgb(var(--primary-50) / var(--tw-bg-opacity));
	--color-primary-100: rgb(var(--primary-100) / var(--tw-bg-opacity));
	--color-primary-200: rgb(var(--primary-200) / var(--tw-bg-opacity));
	--color-primary-300: rgb(var(--primary-300) / var(--tw-bg-opacity));
	--color-primary-400: rgb(var(--primary-400) / var(--tw-bg-opacity));
	--color-primary-500: rgb(var(--primary-500) / var(--tw-bg-opacity));
	--color-primary-600: rgb(var(--primary-600) / var(--tw-bg-opacity));
	--color-primary-700: rgb(var(--primary-700) / var(--tw-bg-opacity));
	--color-primary-800: rgb(var(--primary-800) / var(--tw-bg-opacity));
	--color-primary-900: rgb(var(--primary-900) / var(--tw-bg-opacity));
	--color-primary-950: rgb(var(--primary-950) / var(--tw-bg-opacity));

	--color-border: rgb(var(--border) / var(--tw-border-opacity));

	--aspect-card: 2/1;
	--aspect-portrait: 4/5;
	--aspect-chart: 3/1;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/@flowbite-svelte-plugins/chart/dist";

@layer base {
	:root {
		--tw-bg-opacity: 1;
		--tw-border-opacity: 1;
		--tw-text-opacity: 1;
		--primary: 0 0 0;
		--primary-50: 253 242 248;
		--primary-100: 252 231 243;
		--primary-200: 251 207 232;
		--primary-300: 249 168 212;
		--primary-400: 244 114 182;
		--primary-500: 236 72 153;
		--primary-600: 219 39 119;
		--primary-700: 190 24 93;
		--primary-800: 157 23 77;
		--primary-900: 131 24 67;
		--primary-950: 80 7 36;
		--border: 229 229 229;
	}

	.dark {
		--primary: 255 255 255;
		--primary-50: 238 242 255;
		--primary-100: 224 231 255;
		--primary-200: 199 210 254;
		--primary-300: 165 180 252;
		--primary-400: 129 140 248;
		--primary-500: 99 102 241;
		--primary-600: 79 70 229;
		--primary-700: 67 56 202;
		--primary-800: 55 48 163;
		--primary-900: 49 46 129;
		--primary-950: 30 27 75;
		--border: 82 82 82;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-gray-50 text-gray-500 antialiased transition-colors dark:bg-gray-900 dark:text-gray-400;
	}

	button {
		@apply cursor-pointer;
	}

	::-webkit-scrollbar {
		@apply w-1;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full bg-neutral-600;
	}

	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

@utility h1 {
	@apply text-primary text-3xl font-bold sm:text-4xl;
}

@utility h2 {
	@apply text-primary text-2xl font-bold sm:text-3xl;
}

@utility h3 {
	@apply text-primary text-xl font-bold sm:text-2xl;
}

@utility h4 {
	@apply text-primary text-lg font-bold sm:text-xl;
}

@utility h5 {
	@apply text-primary font-bold sm:text-lg;
}

@utility h6 {
	@apply text-primary font-bold;
}

@utility line-clamp-1 {
	@apply break-all;
}

@utility line-clamp-2 {
	@apply break-all;
}

@utility line-clamp-3 {
	@apply break-all;
}

@utility line-clamp-4 {
	@apply break-all;
}

@utility line-clamp-5 {
	@apply break-all;
}

@utility line-clamp-6 {
	@apply break-all;
}

@utility rtl {
	direction: rtl;
}

@utility ltr {
	direction: ltr;
}

@utility bg-gradient {
	@apply to-primary-500 dark:to-primary-500 bg-gradient-to-r from-white dark:from-gray-900;
}

@utility clickable {
	@apply transition-opacity;
	&:hover,
	&:disabled {
		@apply opacity-70;
	}
}
