@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
	opacity: 70%;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a5a5a5;
}
